In [ ]:
# import pandas as pd
# import os
# from sqlalchemy import create_engine

In [ ]:
#engine=create_engine('sqlite:///vaccination.db')

In [ ]:
# ## First we read the file
# for file in os.listdir('data'):
#     #print(file)
#     ## only read xlsx files
#     if '.xlsx' in file:
#         #df=pd.read_xlsx('data/'+file)    ## Erro
#         df = pd.read_excel('data/'+file)
#         print(df.shape)
#         ingest_db(df,file[:-5].engine)  ## it will remove .xlsx then store database

In [ ]:
## Scripting (means continuous data are coming and we have too store in xlsx file for that we have to schedule the script eg (every 15 min it will run automatically and what ever is data in the xlsx will store in database)
# def ingest_db(df,table_name,engine):
#     df.to_sql(table_name,con=engine,if_exists='replace',index=False)

**Vaccination Data Analysis**

Import Libraries

In [1]:
# Import Libraries
import pandas as pd

**Load all Dataset**

In [2]:
# Load directly from Excel
df1 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\coverage-data.xlsx")
df2 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\incidence-rate-data.xlsx")
df3 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\reported-cases-data.xlsx")
df4 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\vaccine-introduction-data.xlsx")
df5=pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\vaccine-schedule-data.xlsx")

print("Excel datasets loaded successfully!")

Excel datasets loaded successfully!

In [3]:
df1.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,NaN,NaN,NaN
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,NaN,NaN,NaN
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69

In [4]:
df1.shape

(399859, 11)

In [5]:
df2.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0

In [6]:
df2.shape

(84946, 8)

In [7]:
df3.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0

In [8]:
df3.shape

(84870, 7)

In [9]:
df4.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

In [10]:
df4.shape

(138321, 6)

In [11]:
df5.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN

In [12]:
df5.shape

(8053, 12)

**Data Cleaning.**    

1)Handle Missing Data: Impute missing values or remove incomplete records.       
2)Normalize Units: Ensure consistency in units across datasets (e.g., percentage of coverage, number of reported cases).   
3)Date Consistency: Format date fields uniformly across tables for easier analysis.

In [18]:
import pandas as pd
import os
import re

# Your raw DataFrames
datasets = [df1, df2, df3, df4, df5]
cleaned_datasets = []

# Output directory
output_dir = "cleaned_data"
os.makedirs(output_dir, exist_ok=True)

def clean_dataframe(df, i):
    # 1. Make copy
    df_clean = df.copy()

    # 2. Standardize column names (remove spaces, upper case, underscores)
    df_clean.columns = (
        df_clean.columns
        .str.strip()
        .str.upper()
        .str.replace(r'[^A-Z0-9]+', '_', regex=True)
    )

    # 3. Replace empty strings with NaN
    df_clean = df_clean.replace(r'^\s*$', pd.NA, regex=True)

    # 4. Impute missing values
    num_cols = df_clean.select_dtypes(include='number').columns
    for col in num_cols:
        df_clean[col] = df_clean[col].fillna(df_clean[col].median())

    cat_cols = df_clean.select_dtypes(exclude='number').columns
    for col in cat_cols:
        mode_value = df_clean[col].mode()
        if not mode_value.empty:
            df_clean[col] = df_clean[col].fillna(mode_value[0])

    # 5. Parse date-like columns safely (exclude YEAR)
    date_like = [col for col in df_clean.columns if "DATE" in col]
    for col in date_like:
        try:
            df_clean[col] = pd.to_datetime(df_clean[col])
        except (ValueError, TypeError):
            continue

    # 6. Ensure YEAR stays integer if present
    if "YEAR" in df_clean.columns:
        df_clean["YEAR"] = pd.to_numeric(df_clean["YEAR"], errors="coerce").astype("Int64")

    # 7. Remove duplicates
    df_clean = df_clean.drop_duplicates()

    # 8. Save to CSV
    filename = os.path.join(output_dir, f"cleaned_df{i}.csv")
    df_clean.to_csv(filename, index=False)
    print(f"âœ… Cleaned and saved dataframe {i} as {filename}")

    return df_clean

# Apply cleaning to all datasets
for i, df in enumerate(datasets, start=1):
    cleaned_datasets.append(clean_dataframe(df, i))

# Assign cleaned versions
df1_clean, df2_clean, df3_clean, df4_clean, df5_clean = cleaned_datasets

print("\nðŸŽ‰ All datasets cleaned and saved successfully!")

âœ… Cleaned and saved dataframe 1 as cleaned_data\cleaned_df1.csv
âœ… Cleaned and saved dataframe 2 as cleaned_data\cleaned_df2.csv
âœ… Cleaned and saved dataframe 3 as cleaned_data\cleaned_df3.csv
âœ… Cleaned and saved dataframe 4 as cleaned_data\cleaned_df4.csv
âœ… Cleaned and saved dataframe 5 as cleaned_data\cleaned_df5.csv

ðŸŽ‰ All datasets cleaned and saved successfully!

In [20]:
df1_clean.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023,BCG,BCG,ADMIN,Administrative coverage,317871.5,152212.0,88.79
1,COUNTRIES,ABW,Aruba,2023,BCG,BCG,OFFICIAL,Official coverage,317871.5,152212.0,88.79
2,COUNTRIES,ABW,Aruba,2023,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,317871.5,152212.0,90.52
4,COUNTRIES,ABW,Aruba,2023,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69

In [27]:
df1_clean.shape

(399859, 11)

In [21]:
df2_clean.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023,MEASLES,Measles,"per 1,000,000 total population",0.0
4,COUNTRIES,ABW,Aruba,2023,MUMPS,Mumps,"per 1,000,000 total population",0.0

In [22]:
df3_clean.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023,MEASLES,Measles,1.0
4,COUNTRIES,ABW,Aruba,2023,MUMPS,Mumps,0.0

In [23]:
df4_clean.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023,Hib (Haemophilus influenzae type B) vaccine,Yes

In [24]:
df5_clean.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,RISKGROUPS,General/routine,NATIONAL,M2,0-11 mois
1,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,RISKGROUPS,General/routine,NATIONAL,M4,0-11 mois
2,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,RISKGROUPS,General/routine,NATIONAL,M6,0-11 mois
3,ABW,Aruba,AMRO,2023,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,0-11 mois
4,ABW,Aruba,AMRO,2023,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,0-11 mois