In [ ]:
# import pandas as pd
# import os
# from sqlalchemy import create_engine

In [ ]:
#engine=create_engine('sqlite:///vaccination.db')

In [ ]:
# ## First we read the file
# for file in os.listdir('data'):
#     #print(file)
#     ## only read xlsx files
#     if '.xlsx' in file:
#         #df=pd.read_xlsx('data/'+file)    ## Erro
#         df = pd.read_excel('data/'+file)
#         print(df.shape)
#         ingest_db(df,file[:-5].engine)  ## it will remove .xlsx then store database

In [ ]:
## Scripting (means continuous data are coming and we have too store in xlsx file for that we have to schedule the script eg (every 15 min it will run automatically and what ever is data in the xlsx will store in database)
# def ingest_db(df,table_name,engine):
#     df.to_sql(table_name,con=engine,if_exists='replace',index=False)

**Vaccination Data Analysis**

Import Libraries

In [1]:
# Import Libraries
import pandas as pd

In [4]:
# Load directly from Excel
df1 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\coverage-data.xlsx")
df2 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\incidence-rate-data.xlsx")
df3 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\reported-cases-data.xlsx")
df4 = pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\vaccine-introduction-data.xlsx")
df5=pd.read_excel(r"C:\Users\PUJA KUMARI\Desktop\Vaccination (Project-2)\vaccine-schedule-data.xlsx")

print("Excel datasets loaded successfully!")

Excel datasets loaded successfully!

In [5]:
df1.head()

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,NaN,NaN,NaN
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,NaN,NaN,NaN
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69

In [6]:
df1.shape

(399859, 11)

In [7]:
df2.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0

In [8]:
df2.shape

(84946, 8)

In [9]:
df3.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0

In [10]:
df3.shape

(84870, 7)

In [11]:
df4.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

In [12]:
df4.shape

(138321, 6)

In [13]:
df5.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN

In [14]:
df5.shape

(8053, 12)

In [35]:
import pandas as pd
import os

# List all original dataframes
datasets = [df1, df2, df3, df4, df5]
cleaned_datasets = []

# 1. Create output directory
output_dir = "cleaned_data"
os.makedirs(output_dir, exist_ok=True)

# 2. Clean datasets and save to files
for i, df in enumerate(datasets, start=1):
    # Create working copy
    df_clean = df.copy()
    
    # Handle Missing Data
    df_clean = df_clean.replace(r'^\s*$', pd.NA, regex=True)
    
    # Impute numerical columns with median
    num_cols = df_clean.select_dtypes(include='number').columns
    for col in num_cols:
        df_clean[col] = df_clean[col].fillna(df_clean[col].median())
    
    # Impute categorical columns with mode
    cat_cols = df_clean.select_dtypes(exclude='number').columns
    for col in cat_cols:
        mode_value = df_clean[col].mode()
        if not mode_value.empty:
            df_clean[col] = df_clean[col].fillna(mode_value)
    
    # Normalize Units (customize with your specific conversions)
    unit_conversions = {
        # Example conversions (uncomment and modify as needed):
        # 'coverage': (0.01, 'decimal'),
        # 'reported_cases': (1000, 'thousands'),
    }
    
    for col, (factor, new_name) in unit_conversions.items():
        if col in df_clean.columns:
            df_clean[col] = df_clean[col] * factor
            df_clean = df_clean.rename(columns={col: f"{col}_{new_name}"})
    
    # Date Consistency
    date_cols = [col for col in df_clean.columns if 'date' in col.lower()]
    for col in date_cols:
        df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')
    
    # Remove duplicates
    df_clean = df_clean.drop_duplicates()
    
    # Save cleaned dataframe
    filename = os.path.join(output_dir, f"cleaned_df{i}.csv")
    df_clean.to_csv(filename, index=False)
    print(f"✅ Cleaned and saved dataframe {i} as {filename}")
    
    # Add to cleaned datasets list
    cleaned_datasets.append(df_clean)

# 3. Assign cleaned versions to variables
df1_clean, df2_clean, df3_clean, df4_clean, df5_clean = cleaned_datasets

print("\n✅ All datasets cleaned and saved successfully!")

✅ Cleaned and saved dataframe 1 as cleaned_data\cleaned_df1.csv
✅ Cleaned and saved dataframe 2 as cleaned_data\cleaned_df2.csv
✅ Cleaned and saved dataframe 3 as cleaned_data\cleaned_df3.csv
✅ Cleaned and saved dataframe 4 as cleaned_data\cleaned_df4.csv
✅ Cleaned and saved dataframe 5 as cleaned_data\cleaned_df5.csv

✅ All datasets cleaned and saved successfully!